@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
html:has(section[data-no-scrollbar]) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html:has(section[data-no-scrollbar])::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

@layer base {
  button {
    user-select: none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  body,
  header,
  div[data-mobile-menu] {
    @apply transition-[color,background] duration-[800ms] ease-in-out;
  }
  body:has(main > section[data-bg-dark]) {
    @apply bg-black;
  }
  body:has([data-product-page]):not(:has([data-page-ready])) {
    @apply overflow-hidden;
  }
  header:has(+ main > section[data-bg-dark]) {
    @apply text-zinc-50;
  }
  header button[data-login-button] {
    @apply bg-white;
  }
  header:has(+ main > section[data-bg-dark]) button[data-login-button] {
    @apply bg-black;
  }
  header div[data-mobile-menu] {
    @apply bg-gradient-to-b from-white to-zinc-100;
  }
  header:has(+ main > section[data-bg-dark]) div[data-mobile-menu] {
    @apply bg-gradient-to-b from-black to-zinc-900;
  }
  main {
    @apply min-h-svh transition-[background,opacity,transform,filter] duration-500 ease-in-out;
  }
  main:has(> section[data-bg-dark]) {
    @apply bg-black;
  }
  main:has(> section:not(.ignore)) {
    @apply mx-auto w-11/12 max-w-7xl py-20 sm:pt-28;
  }
  main:has(.ignore) {
    @apply grid;
  }
  h2 {
    @apply mb-6 text-xl lg:mb-8 lg:text-3xl;
  }
  h3 {
    @apply mb-4 text-lg lg:mb-6 lg:text-xl;
  }
  p {
    @apply mb-4;
  }
  img {
    @apply block;
  }
  button {
    @apply align-middle;
  }
  textarea {
    @apply disabled:bg-zinc-200;
  }
}

@layer utilities {
  .vtf-font {
    font-family: var(--vtfredzone-classic-font);
  }
  .vertical-text {
    writing-mode: vertical-lr;
  }
}
