@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

@layer base {
  button {
    user-select: none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  p {
    @apply mb-4;
  }
  textarea {
    @apply disabled:bg-zinc-200;
  }
}

@layer utilities {
  .vtf-font {
    font-family: var(--vtfredzone-classic-font);
  }
  .vertical-text {
    writing-mode: vertical-lr;
  }
}
