@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

@layer base {
  button {
    user-select: none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  main {
    @apply min-h-svh;
  }
  main:has(> section:not(.ignore)) {
    @apply mx-auto w-11/12 max-w-7xl py-20 sm:pt-28;
  }
  h2 {
    @apply mb-6 text-xl lg:mb-8 lg:text-3xl;
  }
  h3 {
    @apply mb-4 text-lg lg:mb-6 lg:text-xl;
  }
  p {
    @apply mb-4;
  }
  img {
    @apply block;
  }
  button {
    @apply align-middle;
  }
  textarea {
    @apply disabled:bg-zinc-200;
  }
}

@layer utilities {
  .vtf-font {
    font-family: var(--vtfredzone-classic-font);
  }
  .vertical-text {
    writing-mode: vertical-lr;
  }
}
